module {{.ImportPath}}

go 1.25.8

require (
	github.com/dreamsxin/go-kit/v2 {{.GoKitVersion}}
	github.com/sony/gobreaker v1.0.0
	{{- if .WithOpenAPI}}
	github.com/swaggest/swgui v1.8.9
	{{- end}}
	golang.org/x/time v0.11.0
	gorm.io/gorm v1.31.1
{{- if .WithConfig}}
	go.uber.org/zap v1.27.0
	gopkg.in/yaml.v3 v3.0.1
{{- end}}
)

{{if .RootRelPath}}
replace github.com/dreamsxin/go-kit/v2 => {{.RootRelPath}}
{{end}}
