module {{.ImportPath}}

go 1.26.0

require (
	github.com/dreamsxin/go-kit/v2 {{.GoKitVersion}}
	{{- if .WithOpenAPI}}
	github.com/swaggest/swgui v1.8.9
	{{- end}}
	{{- if or .WithModel .WithDB}}
	gorm.io/gorm v1.31.1
	{{- end}}
{{- if .WithConfig}}
	gopkg.in/yaml.v3 v3.0.1
{{- end}}
)

{{if .RootRelPath}}
replace github.com/dreamsxin/go-kit/v2 => {{printf "%q" .RootRelPath}}
{{end}}
