module {{.ImportPath}}

go 1.25.8

require (
	github.com/dreamsxin/go-kit v0.0.0
	github.com/gorilla/mux v1.8.1
	github.com/sony/gobreaker v1.0.0
	golang.org/x/time v0.11.0
	gorm.io/gorm v1.31.1
)

{{if .RootRelPath}}
replace github.com/dreamsxin/go-kit => {{.RootRelPath}}
{{end}}
