package model

import "gorm.io/gorm"

// ─────────────────────────── {{.Name}} Hooks ──────────────────────────────────────────

// BeforeCreate 在插入记录前执行
func (m *{{.Name}}) BeforeCreate(tx *gorm.DB) (err error) {
	// TODO: 在此添加创建前的逻辑（如生成 UUID）
	return nil
}

// BeforeUpdate 在更新记录前执行
func (m *{{.Name}}) BeforeUpdate(tx *gorm.DB) (err error) {
	// TODO: 在此添加更新前的逻辑
	return nil
}
