package {{.Service.PackageName}}

import (
	"context"
	idl "{{.ImportPath}}"
)

// Service defines the business logic interface
type {{.Service.ServiceName}} interface {
{{range .Service.Methods}}
	{{.Name}}(context.Context, idl.{{.Input}}) (idl.{{.Output}}, error)
{{end}}
}

// NewService creates a new implementation of the service
func NewService() {{.Service.ServiceName}} {
	return &serviceImpl{}
}

// serviceImpl is the concrete implementation of the service
 type serviceImpl struct{}

{{range .Service.Methods}}
// {{.Name}} implements the {{$.Service.ServiceName}} interface
func (s *serviceImpl) {{.Name}}(ctx context.Context, req idl.{{.Input}}) (idl.{{.Output}}, error) {
	// TODO: Implement business logic
	return idl.{{.Output}}{}, nil
}
{{end}}