package {{.Service.ServiceName | lower}}

import (
	"context"

	"google.golang.org/grpc"
	grpcserver "github.com/dreamsxin/go-kit/transport/grpc/server"
	grpcclient "github.com/dreamsxin/go-kit/transport/grpc/client"
	"github.com/dreamsxin/go-kit/endpoint"
	idl "{{if eq .Source "proto"}}{{.ImportPath}}/pb{{else}}{{.ImportPath}}{{end}}"
	genendpoint "{{.ImportPath}}/endpoint/{{.Service.ServiceName | lower}}"
)

// grpcServer 实现了 idl.{{.Service.ServiceName}}Server 接口
type grpcServer struct {
{{range .Service.Methods}}	{{.Name | lower}} grpcserver.Handler
{{end}}}

{{range .Service.Methods}}
func (s *grpcServer) {{.Name}}(ctx context.Context, req *idl.{{.Input}}) (*idl.{{.Output}}, error) {
	_, resp, err := s.{{.Name | lower}}.ServeGRPC(ctx, req)
	if err != nil {
		return nil, err
	}
	return resp.(*idl.{{.Output}}), nil
}
{{end}}

// NewGRPCServer 将服务端点注册到 gRPC Server
func NewGRPCServer(endpoints genendpoint.{{.Service.ServiceName}}Endpoints) *grpcServer {
	return &grpcServer{
{{range .Service.Methods}}		{{.Name | lower}}: grpcserver.NewServer(
			endpoints.{{.Name}}Endpoint,
			decodeGRPC{{.Name}}Request,
			encodeGRPC{{.Name}}Response,
		),
{{end}}	}
}

// RegisterGRPCServer 将服务端点注册到 gRPC Server
func RegisterGRPCServer(s *grpc.Server, endpoints genendpoint.{{.Service.ServiceName}}Endpoints) {
	idl.Register{{.Service.ServiceName}}Server(s, NewGRPCServer(endpoints))
}

{{range .Service.Methods}}
// NewGRPC{{.Name}}Client 返回一个用于 {{.Name}} 的 gRPC 客户端。
func NewGRPC{{.Name}}Client(conn *grpc.ClientConn, options ...grpcclient.ClientOption) endpoint.Endpoint {
	return grpcclient.NewClient(
		conn,
		"{{$.Service.PackageName}}.{{$.Service.ServiceName}}",
		"{{.Name}}",
		EncodeGRPC{{.Name}}Request,
		DecodeGRPC{{.Name}}Response,
		&idl.{{.Output}}{},
		options...,
	).Endpoint()
}
{{end}}

{{range .Service.Methods}}
// decodeGRPC{{.Name}}Request 从 gRPC 请求中解码。
func decodeGRPC{{.Name}}Request(_ context.Context, grpcReq any) (any, error) {
	req := grpcReq.(*idl.{{.Input}})
	return *req, nil
}

// encodeGRPC{{.Name}}Response 编码为 gRPC 响应。
func encodeGRPC{{.Name}}Response(_ context.Context, response any) (any, error) {
	resp := response.(idl.{{.Output}})
	return &resp, nil
}

// EncodeGRPC{{.Name}}Request 编码为 gRPC 请求 (客户端使用)。
func EncodeGRPC{{.Name}}Request(_ context.Context, request any) (any, error) {
	req := request.(idl.{{.Input}})
	return &req, nil
}

// DecodeGRPC{{.Name}}Response 从 gRPC 响应中解码 (客户端使用)。
func DecodeGRPC{{.Name}}Response(_ context.Context, grpcReply any) (any, error) {
	resp := grpcReply.(*idl.{{.Output}})
	return *resp, nil
}
{{end}}
