package {{.Service.ServiceName | lower}}

import (
	"context"

	"github.com/dreamsxin/go-kit/endpoint"
	grpcclient "github.com/dreamsxin/go-kit/transport/grpc/client"
	grpcserver "github.com/dreamsxin/go-kit/transport/grpc/server"
	"google.golang.org/grpc"
	idl "{{if eq .Source "proto"}}{{.ImportPath}}/pb{{else}}{{.ImportPath}}{{end}}"
	genendpoint "{{.ImportPath}}/endpoint/{{.Service.ServiceName | lower}}"
)

// grpcServer implements the generated gRPC server contract.
type grpcServer struct {
{{- if eq .Source "proto"}}
	idl.Unimplemented{{.Service.ServiceName}}Server
{{- end}}
{{range .IRService.Methods}}	{{.Name | lower}} grpcserver.Handler
{{end}}}

{{range .IRService.Methods}}
func (s *grpcServer) {{.Name}}(ctx context.Context, req *idl.{{.InputName}}) (*idl.{{.OutputName}}, error) {
	_, resp, err := s.{{.Name | lower}}.ServeGRPC(ctx, req)
	if err != nil {
		return nil, err
	}
	return resp.(*idl.{{.OutputName}}), nil
}
{{end}}

func NewGRPCServer(endpoints genendpoint.{{.Service.ServiceName}}Endpoints) *grpcServer {
	return &grpcServer{
{{range .IRService.Methods}}		{{.Name | lower}}: grpcserver.NewServer(
			endpoints.{{.Name}}Endpoint,
			decodeGRPC{{.Name}}Request,
			encodeGRPC{{.Name}}Response,
		),
{{end}}	}
}

func RegisterGRPCServer(s *grpc.Server, endpoints genendpoint.{{.Service.ServiceName}}Endpoints) {
	idl.Register{{.Service.ServiceName}}Server(s, NewGRPCServer(endpoints))
}

{{range .IRService.Methods}}
func NewGRPC{{.Name}}Client(conn *grpc.ClientConn, options ...grpcclient.ClientOption) endpoint.Endpoint {
	return grpcclient.NewClient(
		conn,
		"{{$.Service.PackageName}}.{{$.Service.ServiceName}}",
		"{{.Name}}",
		EncodeGRPC{{.Name}}Request,
		DecodeGRPC{{.Name}}Response,
		&idl.{{.OutputName}}{},
		options...,
	).Endpoint()
}
{{end}}

{{range .IRService.Methods}}
func decodeGRPC{{.Name}}Request(_ context.Context, grpcReq any) (any, error) {
	req := grpcReq.(*idl.{{.InputName}})
	return *req, nil
}

func encodeGRPC{{.Name}}Response(_ context.Context, response any) (any, error) {
	resp := response.(idl.{{.OutputName}})
	return &resp, nil
}

func EncodeGRPC{{.Name}}Request(_ context.Context, request any) (any, error) {
	req := request.(idl.{{.InputName}})
	return &req, nil
}

func DecodeGRPC{{.Name}}Response(_ context.Context, grpcReply any) (any, error) {
	resp := grpcReply.(*idl.{{.OutputName}})
	return *resp, nil
}
{{end}}
